@font-face {
  font-family: DIN-Condensed;
  src: url(../assets/DINCond-MediumAlternate.otf);
}

@font-face {
  font-family: DINPro-Light;
  src: url(../assets/DINPro-Light.otf);
}

@font-face {
  font-family: DINPro-Medium;
  src: url(../assets/DINPro-Medium.otf);
}

@font-face {
  font-family: TNR-Bold;
  src: url(../assets/times-new-roman-grassetto.ttf);
}

@font-face {
  font-family: TNR;
  src: url(../assets/times.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-bg-principal: #f2f4f3;
  --cor-primaria: #b59c58;
  --cor-secundaria: #6a6a6a;
  --cor-terciaria: #cccccc;
  --font-titulos: "EB Garamond", serif;
  --font-corpo: "DINPro-Light", sans-serif;
  font-family: var(--font-titulos);
}

body {
  background-color: var(--cor-bg-principal);
}

h1,
h2,
h3 {
  color: var(--cor-primaria);
  font-weight: 500;
}

.texto-timer {
  font-family: "DIN-Condensed", serif;
}

p,
label,
input,
textarea,
.formulario span {
  font-family: var(--font-corpo);
  font-size: 16px;
}

a {
  font-family: var(--font-corpo);
  text-decoration: none;
  color: var(--cor-primaria);
}

/* menu hamb novo */
.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  z-index: 3;
  height: 5px;
  background: var(--cor-primaria);
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.bar-top.a {
  transform: rotate(45deg);
}
.bar-middle.b {
  transform:translateX(1rem);
  opacity: 0;
}
.bar-bottom.c {
  transform: rotate(-45deg);
}

#menu a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menu a li {
  font-family: var(--font-corpo);
}

#menu a .pag-ativa {
  font-family: "DINPro-Medium", sans-serif;
  color: var(--cor-primaria);
}

#menu a:hover {
  color: var(--cor-primaria);
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  display: none;
  position: absolute;
  width: 300px;
  right: -70px;
  top: -50px;
  padding: 50px;
  padding-top: 125px;
  border-radius: 0 0 0 10px;
  background: rgb(237 237 237 / 90%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu.show{
  display: block;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* Botão de retorno para o topo */
#btnTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: #cccccc; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 40px; /* Increase font size */
  text-align: center;
  transition: font-size 1s;
}

#btnTop:hover {
  font-size: 45px;
}

/* Site pensado para dispositivos com até 360px de largura */
.cover {
  background: url("../img/Cover_AmandaTiago_Desktop.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
}

.cover-home-desk{
  display: block;
}

.cover-home-mobile{
  display: none;
}

#main-container {
    width: 60%;
  margin: 0 auto;
  /* padding: 0 40px; */
}

#counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-family: var(--font-titulos);
  color: var(--cor-primaria);
}

.btn-casamento,
#submit {
  text-transform: uppercase;
  background-color: var(--cor-primaria);
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-top: 30px;
}
.btn-casamento{
    width: 100%;
}

.btn-casamento a,
#submit {
  font-family: var(--font-corpo);
  letter-spacing: 3px;
  padding-left: 3px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  border: none;
}

.cover {
  background-position: center;
  height: 100vh;
}

/* Seção Countdown */

#counter {
  line-height: 1.5;
  font-size: 36px;
  width: 281px;
    margin: auto;
}

#counter h1 {
  padding-left: 12px;
  letter-spacing: 12px;
  font-size: 32px;
  font-weight: 500;
}

#numDias {
  font-family: "TNR-Bold", serif;
  width: 100%;
  text-align: center;
  padding-left: 35px;
  letter-spacing: 35px;
  font-weight: 700;
  font-size: 64px;
  border-top: 1px solid var(--cor-primaria);
  border-bottom: 1px solid var(--cor-primaria);
  margin-bottom: 5px;
  margin-top: 5px;
}

#horas, #minutos, #segundos {
  font-family: "TNR", serif;
}

#dias {
  font-size: 28px;
  letter-spacing: 12px;
  padding-left: 12px;
}

.tempo {
  margin-top: 5px;
  width: 100%;
}

#countdown {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--cor-primaria);
}

#countdown div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#countdown div .data {
  font-size: 20px;
  padding-left: 10px;
}

/* Separador */
hr {
  width: 6rem;
  margin: 20px auto;
  border-bottom: 1px solid var(--cor-secundaria);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.divisoria{
    margin: 20px auto 60px auto;
}

/* Seção História */
#historia {
  margin-top: 30px;
}
.titulo-secao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.titulo-secao h1 {
  text-transform: uppercase;
  border-bottom: 1px solid var(--cor-primaria);
  padding-bottom: 1px;
  margin-bottom: 1px;
  letter-spacing: 0.66rem;
  padding-left: 0.66rem;
  font-size: 24px;
}

/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.card {
  margin: auto auto 20px auto;
  width: 281px;
}

.imagem-card {
  clip-path: border-box; /* Para safari antigo - clip da imagem */
  position: -webkit-sticky; /* Para safari antigo - posição da imagem */
  width: 281px;
  height: 281px;
  border-radius: 150px 150px 0 0;
  contain: content;
  border-bottom: 4px solid var(--cor-primaria);
}

.imagem-card img {
  height: inherit;
}

.titulo-card {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--cor-primaria);
}

.titulo-card span {
  color: var(--cor-secundaria);
  text-align: center;
  padding: 4px 0;

  text-transform: uppercase;
  font-size: 20px;
}

.card h3 {
  color: var(--cor-primaria);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0 5px 0;
  letter-spacing: 3px;
  padding-left: 3px;
}

.card p {
  text-align: center;
}

.card hr {
  width: 3rem;
}

/* Seção Cerimónia e recepção */
#cerimonia{
    margin-top: 40px;
}
#logo-bosque {
  position: relative;
  width: 280px;
  height: 109px;
  margin: 0 0 20px 0;
}

.quinta {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 281px;
    margin: auto;
}

.col-quinta {
    width: 100%;
}

#morada {
  margin: 10px 0;
}

#morada p {
  text-align: center;
}

#morada hr {
  text-align: center;
  width: 10px;
  margin: 10px auto;
}

#morada div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#link-quinta{
  text-decoration: underline;
}

.material-symbols-outlined {
  color: var(--cor-primaria);
}

#map {
  height: 300px;
  margin: 10px 0;
}

.leaflet-popup-content {
  font-family: var(--font-corpo);
}

.leaflet-popup-content b {
  font-family: "DINPro-Medium", sans-serif;
  color: var(--cor-primaria);
}

/* Seção formulário */
.formulario {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 20px;
}

.formulario div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formulario input,
.formulario textarea,
.formulario select {
  border: 1px solid var(--cor-primaria);
  margin-top: 5px;
  margin-bottom: 5px;
}

.formulario span {
  color: var(--cor-primaria);
}

#submit{
    width: 400px;
    margin: 20px auto;
    cursor: pointer;
}

.euro_cheio{
    font-weight: bold;
    color: var(--cor-primaria);
}

.card-casamento{
    padding-bottom: 40px;
}
.euro_vazio{
  color: #c5c5c5;
}

.sobre-cidade{
  text-align: center;
}

/* Footer */
footer{
  background-color: var(--cor-primaria);
}

.container-footer{
  width: 281px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0 50px 0;
}

.imagem-e-linha{
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-texto-links .footer-frase h1{
  font-size: 24px;
  text-align: center;
}

.footer-texto-links hr{
  border-bottom: 1px solid #cccccc;
  opacity: 1;
  width: 3rem;
}

.footer-texto-links{
  display: flex;
  flex-direction: column;
}

.container-footer .footer-texto-links .links{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.container-footer .footer-texto-links .links a{
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 20px;
  width: 100%;
  color: white;
  font-size: 18px;
}

.container-footer .footer-texto-links .links a:last-child{
  margin-bottom: 0;
}

.container-footer .footer-texto-links .links a:hover{
  color: var(--cor-primaria);
  background-color: white;
}

.footer-frase span{
  font-size: 16px;
  letter-spacing: 0.6px;

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .cover{
        background-size: cover;
        height: 110vh;
    }
    .cards{
        flex-direction: row;
        gap: 6em;
        justify-content: space-evenly;
        padding: 10px 0;
    }
    .card{
  height: 530px;
    }
    .quinta{
        flex-direction: row;
    width: 100%;
    }
    .col-quinta{
        margin: auto;
    }
    #logo-bosque{
        margin: auto;
    }
    .sobre-cidade{
      text-align: left;
    }

    /* footer */
    .container-footer{
      width: 60%;
    }
    .imagem-e-linha{
      margin-bottom: 25px;
      flex: 1;
    }
    .footer-texto-links{
      flex-direction: row;
    }
    .footer-texto-links .footer-frase{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      align-items: center;
      border-right: 1px solid #cccccc;
    }
    .footer-texto-links .footer-frase h1{
      margin: 10px 0;
      width: 80%;
    }
    .footer-texto-links .footer-frase hr{
      margin: 0 auto;
    }
    .footer-texto-links .links {
      flex: 1;
      align-items: center;
    }
    .container-footer .footer-texto-links .links a {
      width: 70%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 1200px) {
  #main-container {
    /* width: 520px; */
    width: 281px;
  }
  #menu{
    right: -50px;
    width: 250px;
    padding: 30px;
    padding-top: 100px;
    border-radius: 0 0 0 10px;
  }
  #menu li {
    padding: 8px 0;
    font-size: 20px;
  }
  #submit {
    width: 100%;
  }
  .cover-home-desk{
    display: none;
  }
  
  .cover-home-mobile{
    display: block;
  }

  .hamburger-menu {
    top: 10px;
    right: 30px;
    margin: 1rem;
    justify-content: flex-start;
    width: 2rem;
  }

  .bar-top, .bar-middle, .bar-bottom {
    height: 3px;
  }

  #btnTop {
    bottom: 10px;
    right: 10px;
    font-size: 30px;
  }
  
  #btnTop:hover {
    font-size: 30px;
  }

  .bar-top.a {
    transform: rotate(35deg);
  }
  
  .bar-bottom.c {
    transform: rotate(-35deg);
  }

  .container-footer {
    padding: 35px 0 50px 0;
  }

  .footer-texto-links .footer-frase h1 {
    width: 85%;
    margin: auto;
  }

  .container-footer .footer-texto-links .links {
    margin-top: 5px;
  }
}



